:root {
    --a: #222831;
    --b: #393e46;
    --c: #00adb5;
    --d: #eeeeee;
}

* {
    text-decoration: none;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    line-height: 1.6;
    font-size: 2.6rem;
    font-family: "popins-b";
    background-color: var(--a);
    color: #eeeeee;
}

.header {
    margin-top: 2rem;
}

.container {
    padding-left: 8rem;
    padding-right: 8rem;
    margin-left: auto;
    margin-right: auto;
}

.nav {
    display: flex;
    align-items: center;
}

.nav-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 5rem;
    position: static;
}

.nav_logo {
    margin-right: auto;
    text-decoration: none;
    color: var(--d);
}

a.nav_logo:hover {
    color: var(--c);
    transition: 1s;
}

.logo-p {
    font-size: 25px;
    cursor: help;
    font-family: 'b';
}

.menue_list {
    display: flex;
    gap: 7.5rem;
    align-items: center;
    justify-content: flex-start;
    color: var(--d);
    list-style-type: none;
}

.class_list_item {
    font-family: "popins-s";
    color: #eeeeee;
    font-size: 2rem;
}

.class_list_item:hover {
    transition: 1s;
    color: var(--c);
}

.loby {}

.bodo {
    height: 20rem;
    display: flex;
    margin-top: 5rem;
}

.pic-f {
    position: absolute;
    right: 15rem;
    top: 19rem;
    z-index: 2;
    width: 35rem;
}

.pic-f-f {
    position: absolute;
    right: 10rem;
    top: 92rem;
    z-index: 2;
    width: 35rem;
}

.pic-b {
    position: absolute;
    right: 2rem;
    top: 19rem;
    z-index: 0;
    width: 30rem;
    opacity: 45%;
}

.pic-b-b {
    position: absolute;
    right: 2rem;
    top: 71rem;
    z-index: 0;
    width: 49rem;
    opacity: 45%;
}

.pic-but {
    width: 25px;
    color: #000000;
    position: absolute;
    bottom: 10px;
}

.pic-flash {
    position: absolute;
    left: 19rem;
    top: 27rem;
    width: 5rem;
}

.title {
    line-height: 7rem;
    position: absolute;
    left: 25rem;
    font-size: 5rem;
    height: 20rem;
    z-index: 3;
    list-style-type: none;
    font-family: "popins-b";
}

.title-b {
    position: absolute;
    left: 20rem;
    font-size: 7rem;
    top: 112px;
    z-index: 3;
    margin-top: 60rem;
}

.title-c {
    position: absolute;
    left: 20rem;
    width: 44rem;
    top: 113px;
    z-index: 3;
    margin-top: 70rem;
}

.color-title {
    color: var(--c);
}

.cover {
    background-size: cover;
}

.bot {
    display: flex;
    width: 100%;
    margin-top: 120rem;
}

.button-container {
    position: relative;
    top: 23rem;
    left: 23rem;
}

.btn-c {
    padding: 1rem 3rem;
    background-color: var(--c);
    color: var(--d);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-family: "Poppins-b";
    font-size: 2rem;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
    margin-left: 1rem;
}

.btn-c:hover {
    transition: 1s;
    box-shadow: 1px 1px 50px 1px #000000;
}

.btn-v {
    padding: 1rem 3rem;
    background-color: var(--c);
    color: var(--d);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-family: "Poppins-b";
    font-size: 2rem;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
}

.btn-v:hover {}

.b {
    background-color: var(--c);
    color: var(--d);
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-family: "Poppins-b";
    font-size: 3rem;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
}

pre {
    font-family: "popins-b";
}

span {
    color: var(--c);
}

.js {
    text-decoration: none;
}

.block {
    position: relative;
    margin-top: 100rem;
    height: 78rem;
    background-image: url(https://saitaruna.github.io/designers_portfolio/static/media/projects_bg.5063972a7490f321643a.png);
    background-size: clamp(1440px, 100vw, 100vw);
    background-repeat: repeat;


}

.bute {

    gap: 1rem;
    display: flex;

}

.bute {}

.a {
    border-radius: 3rem;
    padding: 1.5rem 4rem;
    background-color: var(--c);
    margin-top: 0.1rem;
    border: none;
}

.a-big {
    padding: 1.5rem 6rem;
    border-radius: 3rem;
    background-color: var(--c);
    margin-top: 0.1rem;
    border: none;
}

.bute>button:hover {
    transition: 1s;
    box-shadow: 1px 1px 10px 1px #000000;

}

.title-k {
    font-size: 22rem;

}

.title-k>h1 {
    margin-bottom: 1rem;
    line-height: 1rem;
    
}

.block-wrapper {
    padding-left: 20rem;
    padding-right: 20rem;
    padding-top: 10rem;
}
.kart-wrapper{
    display: flex;
    width: 100%;
    height: 100rem;
    gap: 2rem;
}
.kart{
    margin-top: 7rem;
    border: 2px solid black;
    height: 20rem;
    width: 30rem;
    border-radius: 2rem;
    background-color: var(--b);
    opacity: 80%;
   
  
   
}