:root {
    --a: #222831;
    --b: #393e46;
    --c: #00adb5;
    --d: #eeeeee;
}
*{
    
    text-decoration: none;
}
html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *::after, *::before {
    box-sizing: inherit;
}

body {
    line-height: 1.6;
    font-size: 1.6rem;
    font-family: "popins-b";
    background-color: var(--a);
    color: #eeeeee;
}

.header {
    margin-top: 1.58rem;
}

.container {
    padding-left: 8rem;
    padding-right: 8rem;
    margin-left: auto;
    margin-right: auto;
}

.nav {
    display: flex;
    align-items: center;
}

.nav-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
}

.nav_logo {
    margin-right: auto;
    text-decoration: none;
    color: var(--d);
   
   
    
}
a.nav_logo:hover{
    color: var(--c);
    transition: 1s;

}
    

.logo-p {
   
   font-size: 25px;
   cursor: help;
   font-family:'b';
   
}

.menue_list {
    display: flex;
    gap: 2.5rem;
    align-items: center;
    justify-content: flex-start;
    color: var(--d);
    
}

.class_list_item {
    font-family: "popins-s";
    color: #eeeeee;
}
.loby {
    position: relative;
}

.pic-b {
    position: absolute;
    right: 2rem;
    top: 6rem;
    z-index: 1;
}

.pic-f {
    position: absolute;
    right: 15rem;
    top: 15rem;
    z-index: 2;
}

.title {
    position: absolute;
    left: 20rem;
    font-size: 10rem;
    top: 50px;
    z-index: 3; /* اطمینان از اینکه عنوان بالاترین لایه است */
}

.button-container {
    position: absolute;
   top: 40rem; /* دکمه‌ها را در پایین قرار می‌دهد */
    left: 20rem; /* مرکز کردن دکمه‌ها به صورت افقی */
    transform: translateX(+s50%); /* تراز کردن به مرکز */
    display: flex;
    gap: 2rem; /* فاصله بین دکمه‌ها */
    z-index: 2; /* اطمینان از اینکه دکمه‌ها بالاتر از تصاویر باشند */
}

.btn {
    padding: 1rem 6rem;
    background-color: var(--c);
    color: var(--d);
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-family: "Poppins-b";
    font-size: 3rem;
}
.btm c{

}

.btn:hover {
    background-color: var(--b); /* تغییر رنگ در هنگام هاور */
